* {
    box-sizing: border-box;
  }
  
  /* Add a gray background color with some padding */
  body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
    margin-top: 6%;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: right;
    width: 75%;
      padding-left: 20px;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
  
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
     background-color: white;
     padding: 20px;
     margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
      /*navbar*/
  body {margin:0;}
  
  .navbar {
      overflow: hidden;
      background-color: #333;
      position: fixed;
      top: 0;
      width: 97%;
      margin-top: 1%;
  }
  
  .navbar a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
  }
  
  .navbar a:hover {
      background: #ddd;
      color: black;
  }
  
  .main {
      padding: 16px;
      margin-top: 30px;
      height: 1500px; /* Used in this example to enable scrolling */
  }
    /*vertical menu*/
  .vertical-menu {
    width: 100%;
  }
  
  .vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  
  .vertical-menu a:hover {
    background-color: #ccc;
  }
  
  .vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
  }
    /*product Card*/
  .product_card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
  
  }
  
  .product_card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  * {
    box-sizing: border-box;
  }
  
  /* Create four equal columns that floats next to each other */
  .product_column {
    float: left;
    width: 25%;
    padding: 10px;
    height: 30%; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .product_row:after {
    content: "";
    display: table;
    clear: both;
  }